
.primary-color {
    -fx-background-color: #191E26;
}

.secondary-color {
    -fx-background-color: #202731;
}

.tertiary-color {
    -fx-background-color: #238636;
}

.primary-text-color {
    -fx-text-fill: #ffffff;
}

.secondary-text-color {
    -fx-text-fill: #9d9fa1;
}

.text-field {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #c9d1d9;
    -fx-prompt-text-fill: #000000;
}

.text-field:hover {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #D8E3EC;
    -fx-prompt-text-fill: #000000;
}

.text-area {
    -fx-background-color: #c9d1d9;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
.text-area:hover {
    -fx-background-radius: 15;
    -fx-background-color: #D8E3EC;
}
.label {
    -fx-text-fill: #c9d1d9;
}
.scroll-pane {
    -fx-background: #2B3542;
    -fx-border-color: #2B3542;
}
.combo-box {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #c9d1d9;
}

.combo-box:hover {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #D8E3EC;
    -fx-text-fill: #000000;
}
.button {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #c9d1d9;
}

.button:hover {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #D8E3EC;
}

.button:pressed {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #c9d1d9;
}
/*
black 18, 28, 38 dark grey
grey  58, B8, D8, E8, F8 white
-----
Add Stylesheets in scene builder
*/