
.primary-color {
    -fx-background-color: #141d26;
}

.secondary-color {
    -fx-background-color: #243447;
}

.tertiary-color {
    -fx-background-color: #03a96b;
}

.primary-text-color {
    -fx-text-fill: #ffffff;
}

.secondary-text-color {
    -fx-text-fill: #9d9fa1;
}

.text-field {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #ffffff99;
}

.label {
    -fx-text-fill: #B8B8B8;
}
.scroll-pane {
    -fx-background: #141d26;
    -fx-border-color: #141d26;
}
.combo-box {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #ffffffb4;
}
.button {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #ffffffb4;
}

.button:hover {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #ffffff;
}

.button:pressed {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #ffffffd2;
}
/*
black 18, 28, 38 dark grey
grey  58, B8, D8, E8, F8 white
-----
Add Stylesheets in scene builder
*/